## Merging injury and gamelog data

In [2]:
import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

from sklearn.preprocessing import OneHotEncoder

/Users/freedom/anaconda3/lib/python3.6/site-packages/fuzzywuzzy/fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [475]:
# Import files
injury_file = 'injuries.csv'
injury = pd.read_csv(injury_file)

game_file = 'gamelogs.csv'
games = pd.read_csv(game_file)

In [476]:
injury.head()

       Date  DL_length player_id
0  20000323         60  thomj005
1  20000401         15  alvaw001
2  20000401         15  osuna002
3  20000408         15  hamid001
4  20000408         15  timlm001

In [477]:
print(injury.shape)
injury.drop_duplicates(inplace=True)
print('After dropping duplicates',injury.shape)

(9288, 3)
After dropping duplicates (9043, 3)

In [478]:
# Add a new columns that has the Datetime version of date:
injury['dt_date'] = injury['Date'].apply(lambda x: str(x)[4:6] + '/' + str(x)[6:]+'/' + str(x)[:4])
injury['dt_date'] = pd.to_datetime(injury['dt_date'])

In [479]:
games.head()

,date,num_game,day,v_team,v_league,v_team_game_num,h_team,h_league,h_team_game_num,v_team_score,...,v_pl_9_id,h_pl_1_id,h_pl_2_id,h_pl_3_id,h_pl_4_id,h_pl_5_id,h_pl_6_id,h_pl_7_id,h_pl_8_id,h_pl_9_id
0,20000329,0,Wed,CHN,NL,1,NYN,NL,1,5,...,liebj001,hendr001,hamid001,alfoe001,piazm001,ventr001,belld001,zeilt001,ordor001,hampm001
1,20000330,0,Thu,NYN,NL,2,CHN,NL,2,5,...,reedr002,youne001,bufod001,sosas001,gracm001,rodrh001,andrs001,husoj001,giraj001,farnk001
2,20000403,0,Mon,COL,NL,1,ATL,NL,1,0,...,astap001,veraq001,sandr002,jonec004,jordb001,galaa001,jonea002,peree002,weisw001,maddg002
3,20000403,0,Mon,SFN,NL,1,FLO,NL,1,4,...,hernl003,castl001,gonza002,floyc001,wilsp002,lowem001,millk005,browb003,redmm001,ferna001
4,20000403,0,Mon,LAN,NL,1,MON,NL,1,10,...,browk001,bergp001,vidrj001,whitr001,guerv001,stevl001,barrm003,widgc001,cabro001,hermd001

### Drop duplicate rows:

In [480]:
print(games.shape)
# check duplicates:
games.drop_duplicates(inplace=True)
print('After removing duplicate rows:',games.shape)
games.index = np.arange(0,len(games))

(43720, 96)
After removing duplicate rows: (41292, 96)

In [481]:
games.head()

,date,num_game,day,v_team,v_league,v_team_game_num,h_team,h_league,h_team_game_num,v_team_score,...,v_pl_9_id,h_pl_1_id,h_pl_2_id,h_pl_3_id,h_pl_4_id,h_pl_5_id,h_pl_6_id,h_pl_7_id,h_pl_8_id,h_pl_9_id
0,20000329,0,Wed,CHN,NL,1,NYN,NL,1,5,...,liebj001,hendr001,hamid001,alfoe001,piazm001,ventr001,belld001,zeilt001,ordor001,hampm001
1,20000330,0,Thu,NYN,NL,2,CHN,NL,2,5,...,reedr002,youne001,bufod001,sosas001,gracm001,rodrh001,andrs001,husoj001,giraj001,farnk001
2,20000403,0,Mon,COL,NL,1,ATL,NL,1,0,...,astap001,veraq001,sandr002,jonec004,jordb001,galaa001,jonea002,peree002,weisw001,maddg002
3,20000403,0,Mon,SFN,NL,1,FLO,NL,1,4,...,hernl003,castl001,gonza002,floyc001,wilsp002,lowem001,millk005,browb003,redmm001,ferna001
4,20000403,0,Mon,LAN,NL,1,MON,NL,1,10,...,browk001,bergp001,vidrj001,whitr001,guerv001,stevl001,barrm003,widgc001,cabro001,hermd001

In [482]:
# Combine the v_leage and h_league into one feature: intra_league 
games['intra_league'] = games.apply(lambda x: 1 if x['h_league']==x['v_league'] else 0, axis=1)
games.drop(['v_league','h_league'],axis=1, inplace=True)

# Sort by date, keep the index as a separate column and set index to dt_date

In [485]:
# Make sure the game logs are sorted by date of game and reset the index
games = games.sort_values('date')
games.index = np.arange(0,len(games))

# Add a dt_date column to games table:
games['dt_date'] = games['date'].apply(lambda x: str(x)[4:6] + '/' + str(x)[6:]+'/' + str(x)[:4])
games['dt_date'] = pd.to_datetime(games['dt_date'])

In [486]:
games.head()

,date,num_game,day,v_team,v_team_game_num,h_team,h_team_game_num,v_team_score,h_team_score,game_length_outs,...,h_pl_2_id,h_pl_3_id,h_pl_4_id,h_pl_5_id,h_pl_6_id,h_pl_7_id,h_pl_8_id,h_pl_9_id,intra_league,dt_date
0,20000329,0,Wed,CHN,1,NYN,1,5,3,54,...,hamid001,alfoe001,piazm001,ventr001,belld001,zeilt001,ordor001,hampm001,1,2000-03-29
1,20000330,0,Thu,NYN,2,CHN,2,5,1,66,...,bufod001,sosas001,gracm001,rodrh001,andrs001,husoj001,giraj001,farnk001,1,2000-03-30
2,20000403,0,Mon,CHN,3,SLN,1,1,7,51,...,rente001,lankr001,tatif001,edmoj001,paquc001,davie001,mathm001,kiled001,1,2000-04-03
3,20000403,0,Mon,COL,1,ATL,1,0,2,51,...,sandr002,jonec004,jordb001,galaa001,jonea002,peree002,weisw001,maddg002,1,2000-04-03
4,20000403,0,Mon,SFN,1,FLO,1,4,6,51,...,gonza002,floyc001,wilsp002,lowem001,millk005,browb003,redmm001,ferna001,1,2000-04-03

In [488]:
# I want to keep the current index as a column.
games_ixd = games.reset_index()
games_ixd.rename(columns={"index": "real_index"},inplace=True)
games_ixd.set_index('dt_date',inplace=True)
print(games_ixd.shape)
games_ixd.head()

(41292, 96)

,real_index,date,num_game,day,v_team,v_team_game_num,h_team,h_team_game_num,v_team_score,h_team_score,...,h_pl_1_id,h_pl_2_id,h_pl_3_id,h_pl_4_id,h_pl_5_id,h_pl_6_id,h_pl_7_id,h_pl_8_id,h_pl_9_id,intra_league
dt_date,,,,,,,,,,,,,,,,,,,,,
2000-03-29,0,20000329,0,Wed,CHN,1,NYN,1,5,3,...,hendr001,hamid001,alfoe001,piazm001,ventr001,belld001,zeilt001,ordor001,hampm001,1
2000-03-30,1,20000330,0,Thu,NYN,2,CHN,2,5,1,...,youne001,bufod001,sosas001,gracm001,rodrh001,andrs001,husoj001,giraj001,farnk001,1
2000-04-03,2,20000403,0,Mon,CHN,3,SLN,1,1,7,...,vinaf001,rente001,lankr001,tatif001,edmoj001,paquc001,davie001,mathm001,kiled001,1
2000-04-03,3,20000403,0,Mon,COL,1,ATL,1,0,2,...,veraq001,sandr002,jonec004,jordb001,galaa001,jonea002,peree002,weisw001,maddg002,1
2000-04-03,4,20000403,0,Mon,SFN,1,FLO,1,4,6,...,castl001,gonza002,floyc001,wilsp002,lowem001,millk005,browb003,redmm001,ferna001,1

In [491]:
# How big is this games table?
print(games_ixd.shape)
#(41292, 96)

# When I loop through the game log table, I am going to update a column for "num_injuries" at any 
# game where we know a player on the disabled list played in THAT game and went on the DL right after.

# Create a column of zeros for num of injuries column to append to the games df that matches
# the games row length: 43720 rows long
games_ixd['injury']  = np.zeros((games_ixd.shape[0],), dtype=np.int)

(41292, 96)

In [492]:
games_ixd.head(2)

,real_index,date,num_game,day,v_team,v_team_game_num,h_team,h_team_game_num,v_team_score,h_team_score,...,h_pl_2_id,h_pl_3_id,h_pl_4_id,h_pl_5_id,h_pl_6_id,h_pl_7_id,h_pl_8_id,h_pl_9_id,intra_league,injury
dt_date,,,,,,,,,,,,,,,,,,,,,
2000-03-29,0,20000329,0,Wed,CHN,1,NYN,1,5,3,...,hamid001,alfoe001,piazm001,ventr001,belld001,zeilt001,ordor001,hampm001,1,0
2000-03-30,1,20000330,0,Thu,NYN,2,CHN,2,5,1,...,bufod001,sosas001,gracm001,rodrh001,andrs001,husoj001,giraj001,farnk001,1,0

### Subset games_ixd to just columns needed for finding DL list players: pl_id cols: real_index col and cols 71:95

In [495]:
# Create a small subset of the indexed games dataframe to only include the game date 
# and all the players' ids, cols 71:95
sm_games = pd.concat([games_ixd.iloc[:,0], games_ixd.iloc[:,71:95]], axis=1)
sm_games.shape

(41292, 25)

### Create a dictionary with real_index as the key and 0 as the values, to update += 1 every time a game row was the last game a DL player played in before his Disabled List placement date:

In [515]:
# This creates (and clears) the injury_update dictionary that will become the TARGET column:
injury_update_dict = games_ixd['injury']
injury_update_dict = injury_update_dict.reset_index()
injury_update_dict = injury_update_dict.drop('dt_date',axis=1).to_dict()
sum(injury_update_dict['injury'].values())

0

## Update injury_update_dict:
* Loop through all rows in the Disabled List data, and for every placement (dl_place), 
  * subset the games_ixd data to all games 10 days before that DL placement date to save search time. 
  * Loop through all games in the subset, and 
      * if the player_id from the placement is in the game, 
          * save that row index as the index to update. 
          
  * Increase the value of the injury_update_dict whose key is the index to update by + 1

### TESTING THE LOOP ON SUBSET:

In [402]:
# FOR PRACTICE RUNS THROUGH THE FOR LOOPS:
# Subset dataframes to practice on:
sm_games_subset = sm_games.iloc[:5000,:].copy()
sm_inj_subset = injury.iloc[:150,2:].copy()

injury_count = 0
for dl_place in sm_inj_subset.itertuples():
    print(dl_place)
    if dl_place[1] is not np.nan:
        pid = dl_place[1]
        search_end_day = dl_place[2]
        search_start_day = search_end_day-pd.offsets.Day(10)
        subset_games = sm_games_subset[search_start_day:search_end_day]
        for game in subset_games.itertuples():
            if pid in game:
                print('yes')
                print(game.real_index)
                game_index_to_update = game.real_index 
        injury_update_dict['injury'][game_index_to_update] += 1
        injury_count += 1

# Check how many injuries recorded        
print('injury count:', injury_count, 'dict count:',sum(injury_update_dict['injury'].values()))

Pandas(Index=0, player_id='thomj005', dt_date=Timestamp('2000-03-23 00:00:00'))
Pandas(Index=1, player_id='alvaw001', dt_date=Timestamp('2000-04-01 00:00:00'))
Pandas(Index=2, player_id='osuna002', dt_date=Timestamp('2000-04-01 00:00:00'))
Pandas(Index=3, player_id='hamid001', dt_date=Timestamp('2000-04-08 00:00:00'))
yes
0
yes
1
yes
30
yes
44
Pandas(Index=4, player_id='timlm001', dt_date=Timestamp('2000-04-08 00:00:00'))
Pandas(Index=5, player_id='hernc001', dt_date=Timestamp('2000-04-08 00:00:00'))
yes
5
yes
30
yes
44
Pandas(Index=6, player_id='wagnb001', dt_date=Timestamp('2000-06-21 00:00:00'))
yes
951
Pandas(Index=7, player_id='olivd001', dt_date=Timestamp('2000-06-21 00:00:00'))
yes
899
yes
971
Pandas(Index=8, player_id='cabra001', dt_date=Timestamp('2000-07-03 00:00:00'))
yes
1106
yes
1121
yes
1150
yes
1165
Pandas(Index=9, player_id=nan, dt_date=Timestamp('2000-07-07 00:00:00'))
Pandas(Index=10, player_id='ferno001', dt_date=Timestamp('2000-07-07 00:00:00'))
yes
1165
yes
1243
Pandas(Index=11, player_id='aldrs001', dt_date=Timestamp('2000-07-12 00:00:00'))
Pandas(Index=12, player_id='spens001', dt_date=Timestamp('2000-07-12 00:00:00'))
yes
1193
yes
1220
yes
1254
yes
1275
yes
1285
Pandas(Index=13, player_id='melum001', dt_date=Timestamp('2000-07-31 00:00:00'))
yes
1433
yes
1449
yes
1459
yes
1484
yes
1509
yes
1539
Pandas(Index=14, player_id='giamj002', dt_date=Timestamp('2000-08-23 00:00:00'))
yes
1851
Pandas(Index=15, player_id='buhnj001', dt_date=Timestamp('2000-08-23 00:00:00'))
yes
1742
yes
1771
yes
1786
Pandas(Index=16, player_id='nagyc001', dt_date=Timestamp('2000-09-26 00:00:00'))
yes
2249
yes
2324
Pandas(Index=17, player_id='bellj002', dt_date=Timestamp('2001-03-09 00:00:00'))
Pandas(Index=18, player_id='watsa001', dt_date=Timestamp('2001-03-11 00:00:00'))
Pandas(Index=19, player_id='ethes001', dt_date=Timestamp('2001-03-21 00:00:00'))
Pandas(Index=20, player_id='pavac001', dt_date=Timestamp('2001-03-22 00:00:00'))
Pandas(Index=21, player_id='kaplg001', dt_date=Timestamp('2001-03-22 00:00:00'))
Pandas(Index=22, player_id=nan, dt_date=Timestamp('2001-03-23 00:00:00'))
Pandas(Index=23, player_id='thoma002', dt_date=Timestamp('2001-03-23 00:00:00'))
Pandas(Index=24, player_id='fryej001', dt_date=Timestamp('2001-03-23 00:00:00'))
Pandas(Index=25, player_id='hernc001', dt_date=Timestamp('2001-03-23 00:00:00'))
Pandas(Index=26, player_id='stepg001', dt_date=Timestamp('2001-03-23 00:00:00'))
Pandas(Index=27, player_id='chrij002', dt_date=Timestamp('2001-03-23 00:00:00'))
Pandas(Index=28, player_id='hackl001', dt_date=Timestamp('2001-03-23 00:00:00'))
Pandas(Index=29, player_id='bonib001', dt_date=Timestamp('2001-03-25 00:00:00'))
Pandas(Index=30, player_id='stule001', dt_date=Timestamp('2001-03-27 00:00:00'))
Pandas(Index=31, player_id='lorem001', dt_date=Timestamp('2001-03-27 00:00:00'))
Pandas(Index=32, player_id='simab001', dt_date=Timestamp('2001-03-27 00:00:00'))
Pandas(Index=33, player_id=nan, dt_date=Timestamp('2001-03-27 00:00:00'))
Pandas(Index=34, player_id='brocd001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=35, player_id='reyns001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=36, player_id='harvc001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=37, player_id='jahaj001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=38, player_id='thoma002', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=39, player_id='fryej001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=40, player_id='sirom001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=41, player_id=nan, dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=42, player_id='alvaw001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=43, player_id='sandr002', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=45, player_id='cairc001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=46, player_id='nagyc001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=48, player_id='wrigj002', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=49, player_id='frymt001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=50, player_id='burna001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=51, player_id='smitc001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=52, player_id='ozunp001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=53, player_id='polic001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=54, player_id='duceb001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=55, player_id='herna001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=56, player_id='cordf001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=57, player_id='schmj001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=58, player_id='bensk001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=60, player_id='loisr001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=61, player_id='sabeb001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=62, player_id='florb001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=63, player_id='coned001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=64, player_id='pichh001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=65, player_id='valej002', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=66, player_id='penaj002', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=67, player_id='garcn001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=68, player_id='canij001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=69, player_id='eined001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=71, player_id='mendr001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=72, player_id='spens001', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=73, player_id='abboj002', dt_date=Timestamp('2001-03-31 00:00:00'))
Pandas(Index=74, player_id='gordt001', dt_date=Timestamp('2001-04-01 00:00:00'))
Pandas(Index=75, player_id='mechg001', dt_date=Timestamp('2001-04-01 00:00:00'))
Pandas(Index=76, player_id='charn001', dt_date=Timestamp('2001-04-01 00:00:00'))
Pandas(Index=77, player_id='abbop001', dt_date=Timestamp('2001-04-01 00:00:00'))
Pandas(Index=78, player_id='aloum001', dt_date=Timestamp('2001-04-03 00:00:00'))
Pandas(Index=79, player_id=nan, dt_date=Timestamp('2001-04-04 00:00:00'))
Pandas(Index=80, player_id='coomr001', dt_date=Timestamp('2001-04-04 00:00:00'))
Pandas(Index=81, player_id='marta002', dt_date=Timestamp('2001-04-04 00:00:00'))
Pandas(Index=82, player_id='wills002', dt_date=Timestamp('2001-04-04 00:00:00'))
Pandas(Index=83, player_id=nan, dt_date=Timestamp('2001-04-05 00:00:00'))
Pandas(Index=84, player_id='bushh001', dt_date=Timestamp('2001-04-05 00:00:00'))
yes
2428
yes
2441
yes
2452
Pandas(Index=85, player_id=nan, dt_date=Timestamp('2001-04-06 00:00:00'))
Pandas(Index=86, player_id='browj004', dt_date=Timestamp('2001-04-06 00:00:00'))
Pandas(Index=87, player_id=nan, dt_date=Timestamp('2001-04-06 00:00:00'))
Pandas(Index=89, player_id='mulht001', dt_date=Timestamp('2001-04-06 00:00:00'))
yes
2456
Pandas(Index=90, player_id='stync001', dt_date=Timestamp('2001-04-06 00:00:00'))
yes
2429
yes
2448
Pandas(Index=91, player_id='agbab001', dt_date=Timestamp('2001-04-09 00:00:00'))
yes
2443
yes
2467
yes
2487
yes
2502
yes
2517
Pandas(Index=92, player_id='barnj001', dt_date=Timestamp('2001-04-09 00:00:00'))
Pandas(Index=93, player_id=nan, dt_date=Timestamp('2001-04-09 00:00:00'))
Pandas(Index=94, player_id='woods001', dt_date=Timestamp('2001-04-10 00:00:00'))
Pandas(Index=95, player_id='camme001', dt_date=Timestamp('2001-04-11 00:00:00'))
Pandas(Index=96, player_id='peret004', dt_date=Timestamp('2001-04-11 00:00:00'))
yes
2454
yes
2487
yes
2502
yes
2517
Pandas(Index=97, player_id='painl001', dt_date=Timestamp('2001-04-12 00:00:00'))
Pandas(Index=98, player_id='voylb001', dt_date=Timestamp('2001-04-12 00:00:00'))
Pandas(Index=99, player_id='eldrc001', dt_date=Timestamp('2001-04-12 00:00:00'))
yes
2449
yes
2542
Pandas(Index=100, player_id='stule001', dt_date=Timestamp('2001-04-13 00:00:00'))
Pandas(Index=101, player_id='pavac001', dt_date=Timestamp('2001-04-13 00:00:00'))
Pandas(Index=102, player_id='newhd001', dt_date=Timestamp('2001-04-15 00:00:00'))
yes
2518
Pandas(Index=103, player_id='wincs001', dt_date=Timestamp('2001-04-15 00:00:00'))
Pandas(Index=104, player_id='spieb001', dt_date=Timestamp('2001-04-16 00:00:00'))
Pandas(Index=105, player_id='mcgwm001', dt_date=Timestamp('2001-04-16 00:00:00'))
yes
2527
yes
2553
yes
2578
yes
2607
Pandas(Index=106, player_id='kotsm001', dt_date=Timestamp('2001-04-17 00:00:00'))
yes
2497
yes
2539
yes
2562
yes
2577
Pandas(Index=107, player_id='browa001', dt_date=Timestamp('2001-04-17 00:00:00'))
yes
2514
yes
2526
yes
2551
Pandas(Index=108, player_id='ashba002', dt_date=Timestamp('2001-04-19 00:00:00'))
yes
2558
Pandas(Index=109, player_id=nan, dt_date=Timestamp('2001-04-19 00:00:00'))
Pandas(Index=110, player_id='crabt001', dt_date=Timestamp('2001-04-19 00:00:00'))

Pandas(Index=111, player_id=nan, dt_date=Timestamp('2001-04-21 00:00:00'))
Pandas(Index=112, player_id='osuna002', dt_date=Timestamp('2001-04-21 00:00:00'))
Pandas(Index=113, player_id='hillg001', dt_date=Timestamp('2001-04-22 00:00:00'))
yes
2554
yes
2564
yes
2594
yes
2608
yes
2631
yes
2649
yes
2660
Pandas(Index=114, player_id=nan, dt_date=Timestamp('2001-04-22 00:00:00'))
Pandas(Index=115, player_id=nan, dt_date=Timestamp('2001-04-24 00:00:00'))
Pandas(Index=116, player_id='walkk001', dt_date=Timestamp('2001-04-24 00:00:00'))
Pandas(Index=117, player_id=nan, dt_date=Timestamp('2001-04-25 00:00:00'))
Pandas(Index=118, player_id='stepg001', dt_date=Timestamp('2001-04-25 00:00:00'))
Pandas(Index=119, player_id='alvaw001', dt_date=Timestamp('2001-04-25 00:00:00'))
Pandas(Index=120, player_id='wittb001', dt_date=Timestamp('2001-04-25 00:00:00'))
Pandas(Index=121, player_id='leita001', dt_date=Timestamp('2001-04-25 00:00:00'))
yes
2664
Pandas(Index=122, player_id='cresf001', dt_date=Timestamp('2001-04-26 00:00:00'))
yes
2700
Pandas(Index=123, player_id='sirom001', dt_date=Timestamp('2001-04-27 00:00:00'))
Pandas(Index=124, player_id='hamid001', dt_date=Timestamp('2001-04-27 00:00:00'))
yes
2642
yes
2664
yes
2679
yes
2730
yes
2743
Pandas(Index=125, player_id='segud001', dt_date=Timestamp('2001-04-28 00:00:00'))
yes
2632
yes
2647
yes
2661
yes
2676
yes
2691
Pandas(Index=126, player_id=nan, dt_date=Timestamp('2001-04-30 00:00:00'))
Pandas(Index=127, player_id='whitr002', dt_date=Timestamp('2001-05-01 00:00:00'))
Pandas(Index=128, player_id='parqj001', dt_date=Timestamp('2001-05-01 00:00:00'))
yes
2735
Pandas(Index=129, player_id='fyhrm001', dt_date=Timestamp('2001-05-02 00:00:00'))
Pandas(Index=130, player_id='lodup001', dt_date=Timestamp('2001-05-02 00:00:00'))
Pandas(Index=131, player_id=nan, dt_date=Timestamp('2001-05-02 00:00:00'))
Pandas(Index=133, player_id='hayec001', dt_date=Timestamp('2001-05-03 00:00:00'))
Pandas(Index=134, player_id='curtc001', dt_date=Timestamp('2001-05-03 00:00:00'))
yes
2764
yes
2779
yes
2817
Pandas(Index=135, player_id='jenkg001', dt_date=Timestamp('2001-05-04 00:00:00'))
yes
2715
yes
2730
yes
2743
yes
2758
yes
2773
yes
2788
yes
2803
Pandas(Index=136, player_id=nan, dt_date=Timestamp('2001-05-04 00:00:00'))
Pandas(Index=137, player_id='molib001', dt_date=Timestamp('2001-05-05 00:00:00'))
yes
2721
yes
2736
yes
2768
yes
2783
yes
2796
yes
2811
yes
2826
yes
2838
Pandas(Index=138, player_id='bartk001', dt_date=Timestamp('2001-05-05 00:00:00'))
Pandas(Index=139, player_id='ortid001', dt_date=Timestamp('2001-05-05 00:00:00'))
yes
2719
yes
2734
yes
2751
yes
2766
yes
2781
yes
2793
yes
2799
yes
2814
yes
2840
Pandas(Index=140, player_id='osikk001', dt_date=Timestamp('2001-05-06 00:00:00'))
yes
2789
Pandas(Index=141, player_id='fabrj001', dt_date=Timestamp('2001-05-07 00:00:00'))
yes
2753
yes
2852
Pandas(Index=142, player_id='olivd001', dt_date=Timestamp('2001-05-07 00:00:00'))
yes
2749
yes
2817
yes
2882
Pandas(Index=143, player_id='irabh001', dt_date=Timestamp('2001-05-08 00:00:00'))
Pandas(Index=144, player_id='paytj001', dt_date=Timestamp('2001-05-08 00:00:00'))
yes
2776
yes
2791
yes
2795
yes
2808
yes
2823
yes
2849
yes
2864
yes
2879
yes
2884
Pandas(Index=145, player_id='bohab001', dt_date=Timestamp('2001-05-08 00:00:00'))
yes
2824
yes
2884
Pandas(Index=146, player_id='grebc001', dt_date=Timestamp('2001-05-09 00:00:00'))
yes
2801
Pandas(Index=147, player_id='juddm001', dt_date=Timestamp('2001-05-10 00:00:00'))
Pandas(Index=148, player_id='tollb001', dt_date=Timestamp('2001-05-10 00:00:00'))
yes
2804
yes
2876
Pandas(Index=149, player_id='stync001', dt_date=Timestamp('2001-05-10 00:00:00'))
yes
2801
yes
2816
yes
2841
yes
2855
yes
2870
yes
2890
yes
2905
Pandas(Index=150, player_id=nan, dt_date=Timestamp('2001-05-10 00:00:00'))
Pandas(Index=151, player_id=nan, dt_date=Timestamp('2001-05-11 00:00:00'))
Pandas(Index=152, player_id='mossd001', dt_date=Timestamp('2001-05-11 00:00:00'))
Pandas(Index=155, player_id=nan, dt_date=Timestamp('2001-05-11 00:00:00'))
Pandas(Index=156, player_id='harnp001', dt_date=Timestamp('2001-05-11 00:00:00'))
yes
2820
yes
2883
Pandas(Index=157, player_id='priea001', dt_date=Timestamp('2001-05-12 00:00:00'))
injury count: 130 dict count: 130

# TRY IT OUT ON YOUR WHOLE DATASET:
* Make sure to clear out the injury_update_dict between iterations

In [516]:
def find_last_game(player_id, dl_date, games_df):
    """Function takes in a player_id and disabled list placement
    date and subsets the game logs to find the last date they played before
    the disabled list placement"""
    game_index_to_update = 999999
    search_end_day = dl_date
    search_start_day = search_end_day - pd.offsets.Day(200)
    subset_games = games_df[search_start_day:search_end_day]
    if subset_games.shape[0] > 0: # IF there are games 20 days before that day
        for game in subset_games.itertuples(): #loop through all games in 20 day period
            if player_id in game:
                game_index_to_update = game.real_index
            else:
                continue
    else: # If there were no games to check, return out of the function
        return game_index_to_update
    return game_index_to_update

In [517]:
# Use sm_games
sm_inj = injury.iloc[:,2:].copy()

injury_count = 0
for dl_place in sm_inj.itertuples():
    if dl_place[1] is not np.nan:
        index_to_update = find_last_game(dl_place[1],dl_place[2],sm_games)
        if index_to_update != 999999:
            injury_update_dict['injury'][index_to_update] += 1
            injury_count += 1
        else:
            continue
# Check how many injuries recorded        
print('injury count:', injury_count, 'dict count:',sum(injury_update_dict['injury'].values()))

injury count: 6396 dict count: 6396

### Add the values from the injury update dict back into the games_ixd

In [522]:
games_ixd['injury'] = games_ixd['real_index'].map(injury_update_dict['injury'])

In [524]:
games_ixd['injury'].value_counts()

0    36399
1     3611
2     1101
3      149
4       25
5        6
6        1
Name: injury, dtype: int64

In [526]:
games_prep = games_ixd.copy()

### One Hot Encode Categorical Columns before saving to CSV

In [527]:
games_prep.columns

Index(['real_index', 'date', 'num_game', 'day', 'v_team', 'v_team_game_num',
       'h_team', 'h_team_game_num', 'v_team_score', 'h_team_score',
       'game_length_outs', 'day_night', 'park_id', 'attendance',
       'time_game_min', 'v_at_bats', 'v_hits', 'v_doubles', 'v_triples',
       'v_homeruns', 'v_RBI', 'v_sac_hits', 'v_sac_files', 'v_hit_pitch',
       'v_walks', 'v_int_walks', 'v_strikeouts', 'v_stol_base',
       'v_caught_steal', 'v_grnd_dbl_plays', 'v_awd_fst_catch_intf',
       'v_left_on_base', 'v_pitchers', 'v_ind_earn_runs', 'v_team_earn_runs',
       'v_wild_pitch', 'v_balks', 'v_putouts', 'v_assists', 'v_errors',
       'v_pass_balls', 'v_dbl_plays', 'v_trp_plays', 'h_at_bats', 'h_hits',
       'h_doubles', 'h_triples', 'h_homeruns', 'h_RBI', 'h_sac_hits',
       'h_sac_files', 'h_hit_pitch', 'h_walks', 'h_int_walks', 'h_strikeouts',
       'h_stol_base', 'h_caught_steal', 'h_grnd_dbl_plays',
       'h_awd_fst_catch_intf', 'h_left_on_base', 'h_pitchers',
       'h_ind_earn_runs', 'h_team_earn_runs', 'h_wild_pitch', 'h_balks',
       'h_putouts', 'h_assists', 'h_errors', 'h_pass_balls', 'h_dbl_plays',
       'h_trp_plays', 'v_mgr_id', 'h_mgr_id', 'w_pitch_id', 'l_pitch_id',
       'v_start_pitch_id', 'h_start_pitch_id', 'v_pl_1_id', 'v_pl_2_id',
       'v_pl_3_id', 'v_pl_4_id', 'v_pl_5_id', 'v_pl_6_id', 'v_pl_7_id',
       'v_pl_8_id', 'v_pl_9_id', 'h_pl_1_id', 'h_pl_2_id', 'h_pl_3_id',
       'h_pl_4_id', 'h_pl_5_id', 'h_pl_6_id', 'h_pl_7_id', 'h_pl_8_id',
       'h_pl_9_id', 'intra_league', 'injury'],
      dtype='object')

In [528]:
col = ['day', 'v_team', 'h_team', 'day_night', 'park_id']
games_w_dummies = pd.get_dummies(games_prep,columns=col, drop_first=True)

In [530]:
print(games_w_dummies.columns)
print(games_w_dummies.shape)

Index(['real_index', 'date', 'num_game', 'v_team_game_num', 'h_team_game_num',
       'v_team_score', 'h_team_score', 'game_length_outs', 'attendance',
       'time_game_min',
       ...
       'park_id_SFO03', 'park_id_SJU01', 'park_id_STL09', 'park_id_STL10',
       'park_id_STP01', 'park_id_SYD01', 'park_id_TOK01', 'park_id_TOR02',
       'park_id_WAS10', 'park_id_WAS11'],
      dtype='object', length=207)
(41292, 207)

## Save Full DataFrame to CSV for Further Investigation

In [531]:
games_w_dummies.to_csv("games_w_inj_dums.csv")

## Drop the 'real_index' and player id cols for the model:

In [537]:
cols_to_drop = [col for col in games_w_dummies.columns if ('id' in col) and ('park' not in col)]
cols_to_drop.append('real_index')
cols_to_keep = [item for item in games_w_dummies.columns if item not in cols_to_drop]
cols_to_keep

['date',
 'num_game',
 'v_team_game_num',
 'h_team_game_num',
 'v_team_score',
 'h_team_score',
 'game_length_outs',
 'attendance',
 'time_game_min',
 'v_at_bats',
 'v_hits',
 'v_doubles',
 'v_triples',
 'v_homeruns',
 'v_RBI',
 'v_sac_hits',
 'v_sac_files',
 'v_hit_pitch',
 'v_walks',
 'v_int_walks',
 'v_strikeouts',
 'v_stol_base',
 'v_caught_steal',
 'v_grnd_dbl_plays',
 'v_awd_fst_catch_intf',
 'v_left_on_base',
 'v_pitchers',
 'v_ind_earn_runs',
 'v_team_earn_runs',
 'v_wild_pitch',
 'v_balks',
 'v_putouts',
 'v_assists',
 'v_errors',
 'v_pass_balls',
 'v_dbl_plays',
 'v_trp_plays',
 'h_at_bats',
 'h_hits',
 'h_doubles',
 'h_triples',
 'h_homeruns',
 'h_RBI',
 'h_sac_hits',
 'h_sac_files',
 'h_hit_pitch',
 'h_walks',
 'h_int_walks',
 'h_strikeouts',
 'h_stol_base',
 'h_caught_steal',
 'h_grnd_dbl_plays',
 'h_awd_fst_catch_intf',
 'h_left_on_base',
 'h_pitchers',
 'h_ind_earn_runs',
 'h_team_earn_runs',
 'h_wild_pitch',
 'h_balks',
 'h_putouts',
 'h_assists',
 'h_errors',
 'h_pass_balls',
 'h_dbl_plays',
 'h_trp_plays',
 'intra_league',
 'injury',
 'day_Mon',
 'day_Sat',
 'day_Sun',
 'day_Thu',
 'day_Tue',
 'day_Wed',
 'v_team_ARI',
 'v_team_ATL',
 'v_team_BAL',
 'v_team_BOS',
 'v_team_CHA',
 'v_team_CHN',
 'v_team_CIN',
 'v_team_CLE',
 'v_team_COL',
 'v_team_DET',
 'v_team_FLO',
 'v_team_HOU',
 'v_team_KCA',
 'v_team_LAN',
 'v_team_MIA',
 'v_team_MIL',
 'v_team_MIN',
 'v_team_MON',
 'v_team_NYA',
 'v_team_NYN',
 'v_team_OAK',
 'v_team_PHI',
 'v_team_PIT',
 'v_team_SDN',
 'v_team_SEA',
 'v_team_SFN',
 'v_team_SLN',
 'v_team_TBA',
 'v_team_TEX',
 'v_team_TOR',
 'v_team_WAS',
 'h_team_ARI',
 'h_team_ATL',
 'h_team_BAL',
 'h_team_BOS',
 'h_team_CHA',
 'h_team_CHN',
 'h_team_CIN',
 'h_team_CLE',
 'h_team_COL',
 'h_team_DET',
 'h_team_FLO',
 'h_team_HOU',
 'h_team_KCA',
 'h_team_LAN',
 'h_team_MIA',
 'h_team_MIL',
 'h_team_MIN',
 'h_team_MON',
 'h_team_NYA',
 'h_team_NYN',
 'h_team_OAK',
 'h_team_PHI',
 'h_team_PIT',
 'h_team_SDN',
 'h_team_SEA',
 'h_team_SFN',
 'h_team_SLN',
 'h_team_TBA',
 'h_team_TEX',
 'h_team_TOR',
 'h_team_WAS',
 'day_night_N',
 'park_id_ARL02',
 'park_id_ATL02',
 'park_id_BAL12',
 'park_id_BOS07',
 'park_id_CHI11',
 'park_id_CHI12',
 'park_id_CIN08',
 'park_id_CIN09',
 'park_id_CLE08',
 'park_id_DEN02',
 'park_id_DET05',
 'park_id_FTB01',
 'park_id_HOU03',
 'park_id_KAN06',
 'park_id_LBV01',
 'park_id_LOS03',
 'park_id_MIA01',
 'park_id_MIA02',
 'park_id_MIL05',
 'park_id_MIL06',
 'park_id_MIN03',
 'park_id_MIN04',
 'park_id_MON02',
 'park_id_NYC16',
 'park_id_NYC17',
 'park_id_NYC20',
 'park_id_NYC21',
 'park_id_OAK01',
 'park_id_PHI12',
 'park_id_PHI13',
 'park_id_PHO01',
 'park_id_PIT07',
 'park_id_PIT08',
 'park_id_SAN01',
 'park_id_SAN02',
 'park_id_SEA03',
 'park_id_SFO03',
 'park_id_SJU01',
 'park_id_STL09',
 'park_id_STL10',
 'park_id_STP01',
 'park_id_SYD01',
 'park_id_TOK01',
 'park_id_TOR02',
 'park_id_WAS10',
 'park_id_WAS11']

In [555]:
games_X = games_w_dummies.loc[:,cols_to_keep]

In [556]:
games_X.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 41292 entries, 2000-03-29 to 2016-10-02
Columns: 182 entries, date to park_id_WAS11
dtypes: float64(1), int64(66), uint8(115)
memory usage: 26.0 MB

## Save the X DataFrame to CSV for Modeling

In [557]:
games_X.to_csv('games_features_for_model.csv')