In [1]:
import csv
import requests
from bs4 import BeautifulSoup

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

* I was able to scrape Disabled List data from 723 pages of search results from Pro_sports_transactions (http://www.prosportstransactions.com/). There were 18066 rows including players being placed on the list as well as those players being reactivated. The dataset had five columns for:
  - Date
  - Team
  - Acquired Player name
  - Relinquished Player name
  - Notes: (e.g. placed on 15-day DL with hip injury)
* I created new columns for for:
  - Injured: 1 if the column for Relinquished/Name is not null.
  - Player_Id: Created from the Retrosheet.com MLBPlayerIds.csv
  - DL_Length: I added a column `'DL_length'` that holds the length of time the injured player was on the DL list, and coded unknown cells with `0`. The 
  - Injury_Type - I added a column `'Injury_Type'` where the type of injury described in the `'Notes'` column was extracted. The injury type was not reported in the majority of cases, and those that didn't have a 'with' word were coded with `'Unknown'`. 
* I saved the dataframe to a CSV file named 'injuries.csv', which is in the datasets folder of the repository, and which I use to bring the data into the main `baseball-injury-predictions.ipynb`.

In [22]:
df = pd.DataFrame()
# Get a list of dictionaries for the injuries 
injuries_data = []
for i in range(0,657): # number of page increments plus one
    url_string = "http://www.prosportstransactions.com/baseball/Search/SearchResults.php?Player=&Team=&BeginDate=2000-03-01&EndDate=2016-10-31&DLChkBx=yes&submit=Search&start="+str(25* i )
    req = requests.get(url_string)
    soup = BeautifulSoup(req.content, 'lxml')
    for item in soup.find_all("tr", {"align":"left"}):# Code for each individual page to capture data
        raw_text = item.text.strip().split("\n")
        injuries_data.append(raw_text)

# Create a dataframe from the injuries data for 723 pages, with 25 per page = 18075 ish        
df = pd.DataFrame(injuries_data)
df.head()

,0,1,2,3,4
0,2000-03-23,Rockies,,• John Thomson,placed on 60-day DL recovering from surgery o...
1,2000-04-01,Devil Rays,,• Wilson Alvarez,placed on DL
2,2000-04-01,Dodgers,,• Antonio Osuna,placed on 15-day DL
3,2000-04-08,Mets,,• Darryl Hamilton,placed on 15-day DL with sprained left foot
4,2000-04-08,Orioles,,• Mike Timlin,placed on 15-day DL with strained abdominal

In [26]:
df.columns = ['Date','Team','Acquired','Name','Notes']
df.head()

,Date,Team,Acquired,Name,Notes
0,2000-03-23,Rockies,,• John Thomson,placed on 60-day DL recovering from surgery o...
1,2000-04-01,Devil Rays,,• Wilson Alvarez,placed on DL
2,2000-04-01,Dodgers,,• Antonio Osuna,placed on 15-day DL
3,2000-04-08,Mets,,• Darryl Hamilton,placed on 15-day DL with sprained left foot
4,2000-04-08,Orioles,,• Mike Timlin,placed on 15-day DL with strained abdominal

In [149]:
df.shape

(16403, 6)

In [150]:
# Let's make a copy to keep the original web scraped data safe
injury_df = pd.DataFrame(df).copy()

In [151]:
# The Acquired and Name columns don't have nulls but they should. 
# They have ' '
injury_df.Acquired = injury_df.Acquired.apply(lambda x: np.nan if x == ' ' else x.replace('•','').split(' / ')[0])

In [152]:
# Get rid of the bullet point and second names for the player names for what used to be the relinquished col
injury_df.Name = injury_df.Name.apply(lambda x: np.nan if x == ' ' else x.replace('•','').split(' / ')[0])

In [153]:
def filter_notes_for_DL(notes):
    """Function parses notes column for number
    of days player was relinquished to the DL.
    Returns the number, 7, 10, 15, 60 or 0."""
    if '15' in notes:
        return 15
    elif '60' in notes:
        return 60
    elif '10' in notes:
        return 10
    elif '7' in notes:
        return 7
    elif 'restricted' in notes:
        return 0
    elif 'temporary' in notes:
        return 0
    else:
        return 0
    
# Create a column that lists the length the player was on the list DL
injury_df['DL_length'] = injury_df.Notes.map(filter_notes_for_DL)

In [154]:
injury_df.Name.isnull().sum()
# 7115 

# Create a dummy column that is 1 if the row represents an injury 
# or a 0 if the row represents a player reactivated.
injury_df['Injured'] = injury_df.Name.map(lambda x: 1 if pd.notnull(x) else 0)
# Value Counts for Injury:
# 1    9288
# 0    7115

In [155]:
# Start to extract the number out of the Notes column.
# Replace the hyphen in '15-day' with a space to help splitting and extracting digits.
#injury_df.Notes = injury_df.Notes.apply(lambda x: x.replace('-',' '))

def extract_injury(notes):
    """Function parses notes column
    to obtain the injury type and returns a string"""
    if len(notes.split('DL')) >= 2:
        if len(notes.split('with')) > 1:
            return notes.split('with')[1]
        elif len(notes.split('recovering from')) > 1:
            return notes.split('recovering from')[1]
        else:
            if notes.split('DL')[1] == '':
                return "unknown"
            else:
                return notes.split('DL')[1]
    else:
        return 'unknown'

injury_df.Notes.head(20)

0      placed on 60-day DL recovering from surgery o...
1                                          placed on DL
2                                   placed on 15-day DL
3           placed on 15-day DL with sprained left foot
4           placed on 15-day DL with strained abdominal
5               placed on 15-day DL with strained groin
6                              activated from 15-day DL
7                                   placed on 15-day DL
8                                   placed on 15-day DL
9                              activated from 15-day DL
10                                  placed on 15-day DL
11                             activated from 15-day DL
12                             activated from 15-day DL
13                                  placed on 15-day DL
14                             activated from 15-day DL
15                                  placed on 15-day DL
16                             transferred to 60-day DL
17                                  placed on 60-day DL
18                             activated from 15-day DL
19                             activated from 15-day DL
Name: Notes, dtype: object

In [156]:
# Create a column that describes the type of injury based on the notes column using
# the function I created: extract_injury, df['Injury_Type']
injury_df['Injury_Type'] = df.Notes.map(extract_injury)
injury_df['Injury_Type'].head()

0     surgery on shoulder
1                 unknown
2                 unknown
3      sprained left foot
4      strained abdominal
Name: Injury_Type, dtype: object

In [157]:
# What kind of injuries are we looking at? 
# 49% of the DL list placements did not have a description of the injury, and the rest account for less than 2%
# of all injuries (because the variation in description prevents cataloging)
injury_df['Injury_Type'].value_counts(normalize=True)

unknown                                                                                    0.488935
 strained left hamstring                                                                   0.015668
 right shoulder inflammation                                                               0.012498
 strained right hamstring                                                                  0.012193
 strained right shoulder                                                                   0.009632
 concussion                                                                                0.008596
 strained left oblique                                                                     0.008413
 right elbow inflammation                                                                  0.008352
 strained lower back                                                                       0.007499
 right shoulder tendinitis                                                                 0.007011
 strained right groin                                                                      0.006706
 ligament replacement ("Tommy John") surgery on right elbow                                0.006462
 strained right elbow                                                                      0.005975
 strained left shoulder                                                                    0.005365
 strained left groin                                                                       0.005365
 surgery on right shoulder                                                                 0.005243
 strained right forearm                                                                    0.004755
 surgery on right elbow                                                                    0.004694
 sore right shoulder                                                                       0.003902
 sprained left ankle                                                                       0.003902
 sprained right ankle                                                                      0.003841
 strained left calf                                                                        0.003536
 strained left oblique muscle                                                              0.003353
 strained right quadriceps                                                                 0.003109
 left elbow inflammation                                                                   0.003109
 strained right calf                                                                       0.003048
 sore right elbow                                                                          0.003048
 fractured left hand                                                                       0.002987
 strained right oblique muscle                                                             0.002804
 strained right oblique                                                                    0.002743
                                                                                             ...
 left toe ailment                                                                          0.000061
 right quadriceps injury                                                                   0.000061
 left shoulder inflammation (surgery)                                                      0.000061
 stomach ailment / gastrointestinal virus                                                  0.000061
 left bicep injury                                                                         0.000061
 left leg hematoma                                                                         0.000061
 strained right shoulder / right arm fatigue (CBS) / arm injury (MLB)                      0.000061
 surgery on right wrist (out for season)                                                   0.000061
 right calf nerve irritation                                                               0.000061
 strained right lumbar                                                                     0.000061
 bruised left eye                                                                          0.000061
 strained right quadriceps (MLB)                                                           0.000061
 bone bruise to left thumb                                                                 0.000061
 right forearm injury / sore right elbow                                                   0.000061
 strained muscle in right shoulder (out for season)                                        0.000061
 stress fracture in right hand                                                             0.000061
 strained tendon in right elbow                                                            0.000061
 bruised left ribcage                                                                      0.000061
 right calf tendinitis                                                                     0.000061
 strained right peroneal (lower right knee)                                                0.000061
 left wrist impingement (CBC CBS E MLB S)                                                  0.000061
 fractured skull / post-concussion symptoms                                                0.000061
 strained lower left abdominal                                                             0.000061
 right ankle inflammation                                                                  0.000061
 bruised patella tendon in right knee                                                      0.000061
 strained left calf (right calf per some sources)                                          0.000061
 surgery on rigth shoulder to repair stress fracture in shoulder blade (out for season)    0.000061
 bone bruise in left foot                                                                  0.000061
 lower back pain secondary to spondylolisthesis                                            0.000061
 weak right shoulder                                                                       0.000061
Name: Injury_Type, Length: 2300, dtype: float64

In [85]:
# Let's change the date to match the baseball gamelogs:
injury_df['Date'] = injury_df['Date'].map(lambda x: x.replace('-',''))
injury_df['Date'].head()

0    20000323
1    20000401
2    20000401
3    20000408
4    20000408
Name: Date, dtype: object

### Import team 3-letter abbreviations to append to the dataframe that will link this to the gamelog data:

In [86]:
file = 'TeamCurrentNames.csv'
team_slugs_df = pd.read_csv(file,header=None)
team_slugs_df.columns = ['old_slug','new_slug','league', 
                         'division','location','nickname','alt_nick','date_start','date_end','city','state']
# Cut the dataframe down to slugs that are recent since 2000 or still current
team_slugs_df['date_end'] = pd.to_datetime(team_slugs_df['date_end'])
team_slugs_df = team_slugs_df[(team_slugs_df['date_end'] > '03/01/2000') | (team_slugs_df['date_end'].isnull())]

In [87]:
team_slugs_df.head()

,old_slug,new_slug,league,division,location,nickname,alt_nick,date_start,date_end,city,state
3,ANA,ANA,AL,W,Anaheim,Angels,NaN,4/2/1997,2004-10-03,Anaheim,CA
4,ANA,ANA,AL,W,Los Angeles,Angels,NaN,4/5/2005,NaT,Anaheim,CA
5,ARI,ARI,NL,W,Arizona,Diamondbacks,NaN,3/31/1998,NaT,Phoenix,AZ
17,ATL,ATL,NL,E,Atlanta,Braves,NaN,4/4/1994,NaT,Atlanta,GA
21,BAL,BAL,AL,E,Baltimore,Orioles,NaN,4/8/1969,NaT,Baltimore,MD

In [88]:
team_slugs_mini = team_slugs_df[['new_slug','nickname']]
team_slugs_mini.set_index('nickname', inplace=True)

# Turn team_slug_df into key:value pairs
team_slugs_dict = team_slugs_mini.to_dict()['new_slug']

### Using the dictionary with slugs and team names, I'm going to use fuzzywuzzy to find the closest for the injury_df 'Team' name in the team_slugs_df. 
* The method of FuzzyWuzzy extracts any number of similar items to the first value you give it, which in this case will be the cell in the column of 'Team'. e.g. 'Orioles' in injury_df['Team'] should by closes to 'Orioles' in the dictionary, which is the key for the value of the slug 'BAL'. 
* The 3-letter slug abbreviation will be saved as a new column, which becomes the primary key to merge the two databases togehter: injury_df['team_id']

In [89]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

/Users/freedom/anaconda3/lib/python3.6/site-packages/fuzzywuzzy/fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [158]:
injury_df['team_id'] = injury_df['Team'].apply(lambda x: team_slugs_dict[process.extract(x, team_slugs_dict.keys(), limit=1)[0][0]])

In [163]:
injury_df.columns

Index(['Date', 'Team', 'Acquired', 'Name', 'Notes', 'DL_length', 'Injured',
       'Injury_Type', 'team_id'],
      dtype='object')

In [166]:
# Select only the columns we need for the game log matching (except keep Injured for the next step alone)
cols = ['Date', 'Team','Name', 'DL_length','Injured', 'team_id']
df_injury_sm = injury_df[cols]

# Remove rows where df_injury_sm['Injury']==0 because we only want injuries, not activations
print('Before removing reactivations:',df_injury_sm.shape)
df_injury_sm = df_injury_sm[df_injury_sm.Injured != 0]
print('With only placements onto the Disabled List:',df_injury_sm.shape)

# Now get rid of the Injured column
df_injury_sm.drop('Injured', inplace=True, axis=1)
df_injury_sm.head()

         Date         Team               Name  DL_length team_id
0  2000-03-23      Rockies       John Thomson         60     COL
1  2000-04-01   Devil Rays     Wilson Alvarez          0     TBA
2  2000-04-01      Dodgers      Antonio Osuna         15     LAN
3  2000-04-08         Mets    Darryl Hamilton         15     NYN
4  2000-04-08      Orioles        Mike Timlin         15     BAL

### Merge player_id from MLBPlayerIDs.txt file.

In [126]:
# Add player id from retrosheet.org info
file = 'MLBPlayerIDs.txt'
ids = pd.read_csv(file)
print(ids.columns)

# The file rows are wrapped in "", so I'll strip the rows into columns the long way:
ids.columns
player_ids = pd.DataFrame(columns=['ID', 'Last', 'First', 'Player_debut', 'Mgr_debut', 'Coach_debut','Ump_debut'])
player_ids['ID'] = ids.ID.apply(lambda x: x.split(',')[0])
player_ids['Last'] = ids.ID.apply(lambda x: x.split(',')[1].strip('"'))
player_ids['First'] = ids.ID.apply(lambda x: x.split(',')[2].strip('"'))
player_ids['Player_debut'] = ids.ID.apply(lambda x: x.split(',')[3])
player_ids['Mgr_debut'] = ids.ID.apply(lambda x: x.split(',')[4])
player_ids['Coach_debut'] = ids.ID.apply(lambda x: x.split(',')[5])
player_ids['Ump_debut'] = ids.ID.apply(lambda x: x.split(',')[6])
player_ids.drop(['Mgr_debut','Coach_debut','Ump_debut'],axis=1,inplace=True)
player_ids.head()

Index(['ID', 'Last', 'First', 'Player debut', 'Mgr debut', 'Coach debut',
       'Ump debut'],
      dtype='object')

         ID     Last   First Player_debut
0  aardd001  Aardsma   David   04/06/2004
1  aaroh101    Aaron    Hank   04/13/1954
2  aarot101    Aaron  Tommie   04/10/1962
3  aased001     Aase     Don   07/26/1977
4  abada001     Abad    Andy   09/10/2001

In [136]:
# The entire database of players, managers and umpires holds 20,493 unique ids. I don't need the 
# guys who played in the 1800s, sadly.
print('Before cutting out the old guys',player_ids.shape)

# Reduce the table down to those players who debuted after 1975 (who would have been 25 year veterans )

# Turn the Player_debut column into a datetime object rather than a string:
player_ids.Player_debut = pd.to_datetime(player_ids.Player_debut, infer_datetime_format=True)

# Select debut dates after 1975-03-15
player_ids = player_ids[player_ids.Player_debut > '1975-03-15']

# After reducing the dataframe to just post 1975 debuts, there are less than 8000 rows left. Reduced by half.
print('After cutting out the old guys',player_ids.shape)

(7966, 4)

In [144]:
# Merge the injury_df with the player_ids is complex because the injury_df has full name that may or may not match
player_ids['Full_Name'] = player_ids.apply(lambda x: x.loc['First'] +' ' +x.loc['Last'], axis=1)

In [197]:
# There seems to be a problem with the names of the injury df having whitespace characters around them:
df_injury_sm.Name = df_injury_sm.Name.apply(lambda x: x.strip())

In [209]:
# Try to assign the id by row
# for row in df_injury_sm:
#     df_injury_sm['player_id'] = 
player_id_list = []
# Iterate through each player injury in the injury database, 
for index, row in df_injury_sm.iterrows():
    if np.sum(player_ids['Full_Name'] == row['Name']) >= 1:
        player_id_list.append(player_ids[player_ids['Full_Name'] == row['Name']]['ID'].iloc[0,])
    else:
        player_id_list.append(np.nan)

In [220]:
# I ended up with 1273 null values, which means for 1273 players, there wasn't a perfect match in the list.
# Go back later and try fuzzywuzzy.
player_id_df = pd.DataFrame(player_id_list, columns=['player_id'])

# Check to make sure the player_id column has the same number of rows as the injury_df before adding it:
print('Player_id dataframe shape')
print(player_id_df.shape)
print('Injury dataframe shape')
print(df_injury_sm.shape)

Player_id dataframe shape
(9288, 1)
Injury dataframe shape
(9288, 6)

In [222]:
# Now that the full name is in the player_ids dataframe, I will try to merge this id into my injury_df
df_injury_sm['player_id'] = player_id_df.values

In [224]:
# Check columns and values:
print(player_id_df.describe())

print(df_injury_sm['player_id'].describe())

# Note: What's interesting is there are only 2373 unique player ids out of 8015. Multiple visits by the same 
# player -- but that's strange.

       player_id
count       8015
unique      2373
top     beckj002
freq          21
count         8015
unique        2373
top       beckj002
freq            21
Name: player_id, dtype: object

In [225]:
df_injury_sm.head()

         Date         Team             Name  DL_length team_id player_id
0  2000-03-23      Rockies     John Thomson         60     COL  thomj005
1  2000-04-01   Devil Rays   Wilson Alvarez          0     TBA  alvaw001
2  2000-04-01      Dodgers    Antonio Osuna         15     LAN  osuna002
3  2000-04-08         Mets  Darryl Hamilton         15     NYN  hamid001
4  2000-04-08      Orioles      Mike Timlin         15     BAL  timlm001

In [226]:
# All I need is the date, the dl_length, the player_id for this.
final_injury_df = df_injury_sm[['Date','DL_length','player_id']].copy()
final_injury_df.head()

         Date  DL_length player_id
0  2000-03-23         60  thomj005
1  2000-04-01          0  alvaw001
2  2000-04-01         15  osuna002
3  2000-04-08         15  hamid001
4  2000-04-08         15  timlm001

In [227]:
# The format of the Date column needs to be updated, since that was lost along the way:
final_injury_df['Date'] = final_injury_df['Date'].map(lambda x: x.replace('-',''))
final_injury_df.head()

       Date  DL_length player_id
0  20000323         60  thomj005
1  20000401          0  alvaw001
2  20000401         15  osuna002
3  20000408         15  hamid001
4  20000408         15  timlm001

In [237]:
final_injury_df['DL_length'].median()
# 15.0

final_injury_df['DL_length'] = final_injury_df['DL_length'].replace(0,15)

### Value Counts on the Date column shows that 15-66 people start out on the disabled list on the first week of every season, which means that those game dates must be removed from both the injury data and the game log data.

In [233]:
# Why remove the season openers if I just want to find the last game played by someone before 
# going on the DL?? It might be that the last game of the regular season?
# season_openers = [20150405, 20160403, 20110330, 20130331, 20120404, 20010331, 20060331, 20160402, 20140330, 
#                   20140329, 20050402, 20080330, 20070401, 20020330, 20100403, 20070331, 20080329, 20090405,
#                   20100404, 20040403, 20150404, 20030329, 20030328, 20120403, 20090404, 20070330, 20070328]

## At this point, I the injury data is ready to be saved to a csv for merging with the game log data.

In [238]:
final_injury_df.to_csv('injuries.csv',index=False)